body{
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
.orange-color{
  color: tomato;
  
}
.flex-con{
  display: flex;
  
}
.half-width{
  width: 50%;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 20px;
}
.half-width img{
  width: 80%;
  margin-right: 50px;
  
}
.half-width h1{
  font-size: 35px;
  color: #554747;
  margin: auto;
}
.link-btn{
  text-decoration: none;
  background-image: linear-gradient(orange,tomato);
  padding: 10px 30px;
  color: aliceblue;
  border-radius: 20px;
}
.first-bnr{
  background-image: url(images/fst-bnr.jpg);
  background-repeat: no-repeat;
  background-position: right;
  
}
.first-bnr .view{
  margin: auto;
  width: 30%;
  margin-left: 50px;
}


.second-bnr{
  background-image: url(images/7.png);
  background-repeat: no-repeat;
  background-position:right;
  background-size: 100%;
}
.content{
  margin: 150px;
}
.third-bnr{
  text-align: center;
  margin-left: 360px;
  margin-right: 360px;
  color: #797878;
}
.do-bdr{
  box-shadow: 15px 15px 20px gray;
  margin:20px 100px ;
  padding: 40px;
  text-align: center;
  border-radius: 5%;
  width: 50%;
}
.do-bdr h2{
  text-align:left;
}
.bdr{
  box-shadow: 20px 20px 30px gray;
  border-radius: 15px;
  padding: 20px;
  width: 40%;
  margin: auto;
}
.one {
  padding:10px 40px ;
  text-align: center;
}
.fth-part{
  text-align: center;
  margin-top: 40PX;
  margin-bottom: 40px;
}
.lst-prt{
  text-align: center;
  background-color: #010118d5;
  display: inline-block;
  width: 100%;
  padding: 25px 0px;
}
.grey{
  color: #797878;
}
.lst-prt h3{
  font-size: 50px;
  margin: auto;
}
.lst-prt p{
  color:aliceblue;
  font-weight: lighter;
}
